Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(?:admin|assets|inc|model|controller|route|view|database|tools|tests)(?:/|$) - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
